/*
!Assets
!ProjectSettings
ProjectSettings/EditorBuildSettings.assets
ProjectSettings/EditorSettings.asset
!.gitignore
*.DS_Store
Assets/SavedLevels.meta
Couples Pottery/Library/metadata/1b/1b455e79b014584448925f3ee62cd0df
